<div class="navbar">

<div class="logo">

🏨 LuxuryStay

</div>

<div class="menu">

<button
(click)="openDashboard()">

Dashboard

</button>

<button
(click)="openHotels()">

Manage Hotels

</button>

@if(role==='Admin')
{
<button
(click)="openCustomers()">

Customers

</button>
}

@if(role==='Customer')
{
<button
(click)="openBookings()">

My Bookings

</button>
}

</div>

<div class="account">

<span>

{{name}}

</span>

<button
class="logout-btn"

(click)="logout()">

Logout

</button>

</div>

</div>


@if(showDashboard)
{

<div class="hero-card">

<h1>

Welcome ,
{{name}}

</h1>

<p>

Luxury Hotel Management Dashboard

</p>

<div class="stats">

<div
class="stat-card"

(click)="openHotels()">

<h2>

🏨

</h2>

<h3>

Manage Hotels

</h3>

<p>

Add • Update • Delete Hotels

</p>

</div>

@if(role==='Admin')
{

<div
class="stat-card"

(click)="openCustomers()">

<h2>

👥

</h2>

<h3>

Customers

</h3>

<p>

View who booked rooms

</p>

</div>

}

@if(role==='Customer')
{

<div
class="stat-card"

(click)="openBookings()">

<h2>

📖

</h2>

<h3>

My Bookings

</h3>

<p>

Check booking history

</p>

</div>

}

<div
class="stat-card">

<h2>

💰

</h2>

<h3>

Revenue Analytics

</h3>

<p>

Coming Soon

</p>

</div>

</div>

<div class="quick-actions">

<button
(click)="openHotels()">

Manage Hotels

</button>

@if(role==='Admin')
{
<button
(click)="openCustomers()">

View Customers

</button>
}

@if(role==='Customer')
{
<button
(click)="openBookings()">

My Bookings

</button>
}

</div>

</div>

}

@if(showHotels)
{
<app-hotels>
</app-hotels>
}

@if(showBookings)
{
<app-bookings>
</app-bookings>
}

@if(showCustomers)
{
<app-customers>
</app-customers>
}