<div class="hotel-page">

<div class="search-bar">

<input
type="text"

placeholder="Search by location"

[(ngModel)]="location">

<button
(click)="searchHotels()">

Search

</button>

</div>

<div class="cards-container">

<div
class="hotel-card"

*ngFor=
"let hotel of hotels">

<img
src="https://images.unsplash.com/photo-1566073771259-6a8506099945">

<h2>
{{hotel.hotelName}}
</h2>

<p>
📍 {{hotel.location}}
</p>

<p class="price">
₹{{hotel.price}}
</p>

<p>
{{hotel.description}}
</p>

@if(role=='Customer')
{
<button
(click)="bookRoom(
hotel)">

Book Room

</button>
}

@if(role=='Admin')
{

<div
class="admin-buttons">

<button
class="edit-btn">

Update

</button>

<button
class="delete-btn"

(click)="deleteHotel(
hotel.id)">

Delete

</button>

<button
class="room-btn"

(click)="manageRooms(
hotel)">

Manage Rooms

</button>

</div>

}

</div>

</div>

@if(role=='Admin')
{

<div class="bottom-admin">

<button
class="floating-add"

(click)="showAddForm=true">

＋ Add Hotel

</button>

</div>

}

@if(showRoomPopup)
{

<div class="popup-overlay">

<div class="popup-form room-popup">

<h2>

🏨
{{selectedHotel.hotelName}}

Rooms

</h2>

<div
class="room-card"

*ngFor=
"let room of rooms">

<h3>

{{room.roomType}}

</h3>

<p>

₹{{room.price}}

</p>

<p>

Available:
{{room.availabilityCount}}

</p>

<input
[(ngModel)]="room.roomType">

<input
type="number"

[(ngModel)]="room.price">

<input
type="number"

[(ngModel)]="room.availabilityCount">

<div
class="popup-buttons">

<button
class="save-btn"

(click)="updateRoom(
room)">

Update

</button>

<button
class="delete-btn"

(click)="deleteRoom(
room.id)">

Delete

</button>

</div>

</div>

<hr>

<h3>

Add Room

</h3>

<input
placeholder=
"Room Type"

[(ngModel)]="roomType">

<input
type="number"

placeholder=
"Room Price"

[(ngModel)]="roomPrice">

<input
type="number"

placeholder=
"Availability Count"

[(ngModel)]="availabilityCount">

<div
class="popup-buttons">

<button
class="save-btn"

(click)="addRoom()">

Add Room

</button>

<button
class="close-btn"

(click)="showRoomPopup=false">

Close

</button>

</div>

</div>

</div>

}

@if(showAddForm)
{

<div class="popup-overlay">

<div class="popup-form">

<h2>

🏨 Add Hotel

</h2>

<input
placeholder=
"Enter Hotel Name"

[(ngModel)]="hotelName">

<input
placeholder=
"Enter Hotel Location"

[(ngModel)]="hotelLocation">

<input
type="number"

placeholder=
"Enter Price"

[(ngModel)]="price">

<textarea
placeholder=
"Description"

[(ngModel)]="description">

</textarea>

<div
class="popup-buttons">

<button
class="save-btn"

(click)="addHotel()">

Save

</button>

<button
class="close-btn"

(click)="showAddForm=false">

Close

</button>

</div>

</div>

</div>

}

@if(showRoomPage)
{
<app-room-details
[hotel]="selectedHotel">
</app-room-details>
}